# Numpy

![images (2).png]()

In [44]:
import numpy as np #Untuk membuat array
import math

x = [8.0, 1, 2.5, 4, 28.0]
x_with_nan = [8.0, 1, 2.5, math.nan, 4, 28.0]
y, y_with_nan = np.array(x), np.array(x_with_nan)

In [47]:
y #y di definisikan menggunakan NumPy

array([ 8. ,  1. ,  2.5,  4. , 28. ])

## Statistics Numpy

**Central Tendency**

- Mean
- Median
- Mode

**Variability Measurement**

- Variance ùë†¬≤ = Œ£·µ¢(ùë•·µ¢ ‚àí mean(ùë•))¬≤ / (ùëõ ‚àí 1)
- Standard deviation
- Skewness
- Percentiles

Mean

In [48]:
#Menggunakan data x
import numpy as np
import statistics

mean1 = sum(x)/len(x)
mean2 = statistics.mean(x)
mean3 = np.mean(x)

# Mencetak semua hasil dalam satu print statement
print(f"Mean1 (menggunakan sum dan len): {mean1}")
print(f"Mean2 (menggunakan statistics.mean): {mean2}")
print(f"Mean3 (menggunakan numpy.mean): {mean3}")

Mean1 (menggunakan sum dan len): 8.7
Mean2 (menggunakan statistics.mean): 8.7
Mean3 (menggunakan numpy.mean): 8.7

In [49]:
#Menggunakan data x_with_nan
mean1 = sum(x_with_nan)/len(x_with_nan)
mean2 = statistics.mean(x_with_nan)
mean3 = np.mean(x_with_nan)

# Mencetak semua hasil dalam satu print statement
print(f"Mean1 (menggunakan sum dan len): {mean1}")
print(f"Mean2 (menggunakan statistics.mean): {mean2}")
print(f"Mean3 (menggunakan numpy.mean): {mean3}")

Mean1 (menggunakan sum dan len): nan
Mean2 (menggunakan statistics.mean): nan
Mean3 (menggunakan numpy.mean): nan

Mean

In [50]:
#Menggunakan data x
median1 = statistics.median(x)
median2 = np.median(x)

# Mencetak semua hasil dalam satu print statement
print(f"Median1 (menggunakan statistics.median): {median1}")
print(f"Median2 (menggunakan numpy.median): {median2}")

Median1 (menggunakan statistics.median): 4
Median2 (menggunakan numpy.median): 4.0

In [51]:
#Menggunakan data x
median1 = statistics.median(x_with_nan)
median2 = np.median(x_with_nan)

# Mencetak semua hasil dalam satu print statement
print(f"Median1 (menggunakan statistics.median): {median1}")
print(f"Median2 (menggunakan numpy.median): {median2}")

Median1 (menggunakan statistics.median): 6.0
Median2 (menggunakan numpy.median): nan

Modus

In [52]:
#Menggunakan data x
modus1 = statistics.mode(x)
modus2 = statistics.mode(x_with_nan)

# Mencetak semua hasil dalam satu print statement
print(f"Modus1 (menggunakan statistics.modus): {modus1}")
print(f"Modus2 (menggunakan numpy.modus): {modus2}")

Modus1 (menggunakan statistics.modus): 8.0
Modus2 (menggunakan numpy.modus): 8.0

Varian

In [53]:
#Menggunakan data x
n = len(x)
mean_= sum(x)/len(x)
var1 = sum((item - mean_)**2 for item in x) / (n-1)
var2 = statistics.variance(x)
var3 = np.var(x)

# Mencetak semua hasil dalam satu print statement
print(f"Varian1 (menggunakan sum dan len): {var1}")
print(f"Varian2 (menggunakan statistics.variance): {var2}")
print(f"Varian3 (menggunakan numpy.var): {var3}")

Varian1 (menggunakan sum dan len): 123.19999999999999
Varian2 (menggunakan statistics.variance): 123.2
Varian3 (menggunakan numpy.var): 98.55999999999999

In [54]:
#Menggunakan data x_with_nan
n = len(x_with_nan)
mean_ = sum(x_with_nan)/len(x_with_nan)
var1 = sum((item - mean_)**2 for item in x_with_nan) / (n-1)
var2 = np.var(x_with_nan)

# Mencetak semua hasil dalam satu print statement
print(f"Varian1 (menggunakan sum dan len): {var1}")
print(f"Varian2 (menggunakan numpy.var): {var2}")

#tidak bisa menggunakan statistics karena cannot convert NaN to integer ratio

Varian1 (menggunakan sum dan len): nan
Varian2 (menggunakan numpy.var): nan

Standard Deviasi

In [55]:
mean_=sum(x)/len(x)
var_ = sum((item - mean_)**2 for item in x) / (len(x)-1)
std_ = var_ ** 0.5
print(std_)
print(np.std(x))
print(statistics.stdev(x))

11.099549540409285
9.927738916792684
11.099549540409287

Skewness

In [56]:
from scipy import stats
print(stats.skew(x))
print(stats.skew(x_with_nan))

1.3061163034727836
nan

Percentiles

In [57]:
np.percentile(x, 50)

np.float64(4.0)

# Pandas

![image.png]()

In [8]:
import pandas as pd

## Manipulasi Data dengan Pandas

Pendahuluan sebelum melakukan analisis data, kita import dulu data dari google drive

In [2]:
import pandas as pd
import numpy as np

# Import dataset dari Google Drive
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv("/content/drive/MyDrive/DATASET/Titanic/kapal_titanic.csv")
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

## Apa itu dataframe?
Dataframe merupakan istilah yang merujuk pada data yang akan dianalisis dan tersusun dalam sebuah tabel.

Ketika memiliki sebuah dataframe, maka penting untuk mengeksplorasi data tersebut dan apa saja isi dari data tersebut. Ada beberapa metode dan atribut yang berguna untuk ini.

`.head()` mengembalikan beberapa baris pertama ("kepala" DataFrame).

`.info()` menunjukkan informasi pada setiap kolom, seperti tipe data dan jumlah nilai yang hilang.

`.describe()` menghitung beberapa statistik ringkasan untuk setiap kolom.

In [3]:
df.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [5]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## Sorting dan Subsetting

Sorting merupakan proses mengurutkan data berdasarkan kolom tertentu atau value tertentu

Subsetting merupakan proses untuk mengambil data atau kolom tertentu dalam data

In [6]:
diurutkan = df.sort_values("age")

print(diurutkan)

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
803         1       3    male  0.42      0      1   8.5167        C  NaN
755         1       2    male  0.67      1      1  14.5000        S  NaN
644         1       3  female  0.75      2      1  19.2583        C  NaN
469         1       3  female  0.75      2      1  19.2583        C  NaN
78          1       2    male  0.83      0      2  29.0000        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
859         0       3    male   NaN      0      0   7.2292        C  NaN
863         0       3  female   NaN      8      2  69.5500        S  NaN
868         0       3    male   NaN      0      0   9.5000        S  NaN
878         0       3    male   NaN      0      0   7.8958        S  NaN
888         0       3  female   NaN      1      2  23.4500        S  NaN

[891 rows x 9 columns]

In [7]:
jenis_kelamin_umur = df[["sex", "age"]]

print(jenis_kelamin_umur)

        sex   age
0      male  22.0
1    female  38.0
2    female  26.0
3    female  35.0
4      male  35.0
..      ...   ...
886    male  27.0
887  female  19.0
888  female   NaN
889    male  26.0
890    male  32.0

[891 rows x 2 columns]

## Fungsi Aggregasi

### Counting

In [9]:
df["age"].value_counts(sort = True)

age
24.00    30
22.00    27
18.00    26
28.00    25
30.00    25
         ..
24.50     1
0.67      1
0.42      1
34.50     1
74.00     1
Name: count, Length: 88, dtype: int64

### Drop duplicate Value

In [12]:
unique_fare = df.drop_duplicates(subset="fare")

print(unique_fare)

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
866         1       2  female  27.0      1      0  13.8583        C  NaN
867         0       1    male  31.0      0      0  50.4958        S    A
872         0       1    male  33.0      0      0   5.0000        S    B
876         0       3    male  20.0      0      0   9.8458        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN

[248 rows x 9 columns]

## Mengelompokkan Data

### Dasar Penggunaan apply()

Fungsi `apply()` adalah salah satu fungsi paling fleksibel dan kuat di Pandas. Fungsi ini memungkinkan pengguna menerapkan fungsi pada setiap elemen dalam DataFrame atau Series. Dengan `apply()`, Anda dapat melakukan transformasi data, perhitungan, atau bahkan mengubah bentuk data secara cepat dan efisien.

Parameter `axis` menentukan arah penerapan fungsi:

- `axis=0` (Default): Fungsi diterapkan pada kolom (beroperasi antar baris).
- `axis=1`: Fungsi diterapkan pada baris (beroperasi antar kolom).

In [13]:
# Define a function to categorize ages
def categorize_age(age):
  if age < 18:
    return 'Child'
  elif age < 60:
    return 'Adult'
  else:
    return 'Senior'

# Apply the function to the 'age' column
df['age_category'] = df['age'].apply(categorize_age)

# Display the DataFrame with the new 'age_category' column
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,age_category
0,0,3,male,22.0,1,0,7.2500,S,NaN,Adult
1,1,1,female,38.0,1,0,71.2833,C,C,Adult
2,1,3,female,26.0,0,0,7.9250,S,NaN,Adult
3,1,1,female,35.0,1,0,53.1000,S,C,Adult
4,0,3,male,35.0,0,0,8.0500,S,NaN,Adult
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,Adult
887,1,1,female,19.0,0,0,30.0000,S,B,Adult
888,0,3,female,NaN,1,2,23.4500,S,NaN,Senior
889,1,1,male,26.0,0,0,30.0000,C,C,Adult
890,0,3,male,32.0,0,0,7.7500,Q,NaN,Adult

### Dasar Penggunaan groupby()

Anda dapat mengelompokkan data dan melakukan agregasi menggunakan `groupby`.

In [15]:
# Group data by 'sex' and calculate the mean of 'age' for each group
grouped_data = df.groupby('sex')['age'].mean()
grouped_data

sex
female    27.915709
male      30.726645
Name: age, dtype: float64

## Slicing dan Indexing

### Mengatur sebuah kolom menjadi sebuah index

In [17]:
df.set_index("fare")

,survived,pclass,sex,age,sibsp,parch,embarked,deck,age_category,fare_diff
fare,,,,,,,,,,
7.2500,0,3,male,22.0,1,0,S,NaN,Adult,-24.954208
71.2833,1,1,female,38.0,1,0,C,C,Adult,39.079092
7.9250,1,3,female,26.0,0,0,S,NaN,Adult,-24.279208
53.1000,1,1,female,35.0,1,0,S,C,Adult,20.895792
8.0500,0,3,male,35.0,0,0,S,NaN,Adult,-24.154208
...,...,...,...,...,...,...,...,...,...,...
13.0000,0,2,male,27.0,0,0,S,NaN,Adult,-19.204208
30.0000,1,1,female,19.0,0,0,S,B,Adult,-2.204208
23.4500,0,3,female,NaN,1,2,S,NaN,Senior,-8.754208
30.0000,1,1,male,26.0,0,0,C,C,Adult,-2.204208
7.7500,0,3,male,32.0,0,0,Q,NaN,Adult,-24.454208

### Menghapus sebuah index

In [19]:
df.reset_index()

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,age_category,fare_diff
0,0,0,3,male,22.0,1,0,7.2500,S,NaN,Adult,-24.954208
1,1,1,1,female,38.0,1,0,71.2833,C,C,Adult,39.079092
2,2,1,3,female,26.0,0,0,7.9250,S,NaN,Adult,-24.279208
3,3,1,1,female,35.0,1,0,53.1000,S,C,Adult,20.895792
4,4,0,3,male,35.0,0,0,8.0500,S,NaN,Adult,-24.154208
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,NaN,Adult,-19.204208
887,887,1,1,female,19.0,0,0,30.0000,S,B,Adult,-2.204208
888,888,0,3,female,NaN,1,2,23.4500,S,NaN,Senior,-8.754208
889,889,1,1,male,26.0,0,0,30.0000,C,C,Adult,-2.204208
890,890,0,3,male,32.0,0,0,7.7500,Q,NaN,Adult,-24.454208

### Slicing List

In [22]:
# Slicing list pada kolom 'fare'
# Mengambil 5 data pertama
fare = df['fare'].tolist()
sliced_fare = fare[:5]
print(sliced_fare)

# Mengambil data dari index ke 10 sampai 15
sliced_fare = fare[10:16]
print(sliced_fare)

[7.25, 71.2833, 7.925, 53.1, 8.05]
[16.7, 26.55, 8.05, 31.275, 7.8542, 16.0]

### Subsetting by row/column number

In [24]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,age_category,fare_diff
0,0,3,male,22.0,1,0,7.2500,S,NaN,Adult,-24.954208
1,1,1,female,38.0,1,0,71.2833,C,C,Adult,39.079092
2,1,3,female,26.0,0,0,7.9250,S,NaN,Adult,-24.279208
3,1,1,female,35.0,1,0,53.1000,S,C,Adult,20.895792
4,0,3,male,35.0,0,0,8.0500,S,NaN,Adult,-24.154208
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,Adult,-19.204208
887,1,1,female,19.0,0,0,30.0000,S,B,Adult,-2.204208
888,0,3,female,NaN,1,2,23.4500,S,NaN,Senior,-8.754208
889,1,1,male,26.0,0,0,30.0000,C,C,Adult,-2.204208
890,0,3,male,32.0,0,0,7.7500,Q,NaN,Adult,-24.454208

In [25]:
print(df.iloc[2:5, 1:4]) #Kolom ke 2 hingga 4 untuk baris ke 1 hingga 3

   pclass     sex   age
2       3  female  26.0
3       1  female  35.0
4       3    male  35.0

## Mengelola Missing Value

### Mendeteksi Missing value

In [26]:
df.isnull()           # Menampilkan DataFrame dengan nilai True untuk data yang hilang

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,age_category,fare_diff
0,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,True,False,False
887,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,True,False,False
889,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,True,False,False

In [27]:
df.isnull().sum()     # Menampilkan jumlah data yang hilang di setiap kolom

survived          0
pclass            0
sex               0
age             177
sibsp             0
parch             0
fare              0
embarked          2
deck            688
age_category      0
fare_diff         0
dtype: int64

### Menghapus Baris atau Kolom yang Hilang

In [28]:
df.dropna(inplace=True)     # Menghapus baris dengan nilai hilang
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 1 to 889
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   survived      182 non-null    int64
 1   pclass        182 non-null    int64
 2   sex           182 non-null    object
 3   age           182 non-null    float64
 4   sibsp         182 non-null    int64
 5   parch         182 non-null    int64
 6   fare          182 non-null    float64
 7   embarked      182 non-null    object
 8   deck          182 non-null    object
 9   age_category  182 non-null    object
 10  fare_diff     182 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 17.1+ KB

### Mengisi Missing Value

In [29]:
df.fillna(value=0, inplace=True)  # Mengisi nilai hilang dengan 0
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,age_category,fare_diff
1,1,1,female,38.0,1,0,71.2833,C,C,Adult,39.079092
3,1,1,female,35.0,1,0,53.1000,S,C,Adult,20.895792
6,0,1,male,54.0,0,0,51.8625,S,E,Adult,19.658292
10,1,3,female,4.0,1,1,16.7000,S,G,Child,-15.504208
11,1,1,female,58.0,0,0,26.5500,S,C,Adult,-5.654208

### Membuat sebuah dataframe

Dalam membuat sebuah dataframe, penting untuk memahami konsep dictionaries.

Anggap sebuah data merupakan dictionaries (kamus) yang mana satu kata memiliki sebuah arti :

In [32]:
my_dict = {"key1": 1,"key2": 2,"key3": 3}

my_dict["key1"]

1

In [33]:
my_dict = {"title": "Charlotte's Web","author": "E.B. White","published": 1952}

my_dict["title"]

"Charlotte's Web"

Dataframe dapat dibuat dari list dictionaries by columns dan list dictionaries by rows

In [38]:
list_of_dicts = [    {"name": "Ginger", "breed": "Dachshund", "height_cm": 22,"weight_kg": 10, "date_of_birth": "2019-03-14"},
                     {"name": "Scout", "breed": "Dalmatian", "height_cm": 59, "weight_kg": 25, "date_of_birth": "2019-05-09"}]

new_dogs = pd.DataFrame(list_of_dicts)

In [39]:
new_dogs

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

In [37]:
dict_of_lists = {"name": ["Ginger", "Scout"],
                 "breed": ["Dachshund", "Dalmatian"],
                 "height_cm": [22, 59],"weight_kg": [10, 25],
                 "date_of_birth": ["2019-03-14", "2019-05-09"]}


new_dogs = pd.DataFrame(dict_of_lists)

In [40]:
new_dogs

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

## Menyimpan Data ke File

In [41]:
df.to_csv('data_output.csv', index=False)  # Menyimpan DataFrame ke file CSV